@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@layer base {
  html {
    font-family: 'Cabin', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

@layer components {
  .pop-out {
    box-shadow: 5px 5px 10px #191919,
      -5px -5px 10px #333333;
  }

  .pop-in-and-out {
    background: linear-gradient(145deg, #222222, #292929);
    box-shadow: 5px 5px 10px #191919,
      -5px -5px 10px #333333;
  }

  .pop-in {
    box-shadow: inset 5px 5px 10px #191919,
      inset -5px -5px 10px #333333;
  }
}