@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes menu-slide {
  from {
    transform: translateX(-100%);
  }
}

.fade-it {
  view-transition-name: fade-it;
}

.fade-out-on-swap {
  animation: fade-out .2s linear;
}

::view-transition-old(fade-it) {
  animation: 100ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
}

::view-transition-new(fade-it) {
  animation: 200ms cubic-bezier(0.4, 0, 1, 1) both fade-in;
}

#campaignMenu {
  transition: all 1s ease-in-out;
}

#createCampaignButton {
  transition: all 1s ease-in-out;
}